<div class="cuerpo-repertorio">
  <div class="contenedor-repertorio">
    <div class="texto">
      <h2>Cumpleaños</h2>
      <ul>
        <li>Happy Birthday</li>
        <li>Copa de champagne</li>
        <li>Cumpleaños (Antonio Aguilar)</li>
        <li>En tu día</li>
        <li>El reventón</li>
        <li>Las mañanitas del rey David</li>
        <li>Las mañanitas mexicanas</li>
        <li>Nochecitas mexicanas</li>
        <li>Y muchas más...</li>
      </ul>
    </div>
    <div class="imagen">
      <img src="./../../../assets/img/repertorio/cumpleaños.jpg" alt="mariachi cumpleaños">
    </div>
  </div>

  <div class="contenedor-repertorio">
    <div class="texto">
      <h2>15 años</h2>
      <ul>
        <li>Happy Birthday</li>
        <li>Copa de champagne</li>
        <li>En tu día</li>
        <li>Ha llegado un ángel</li>
        <li>Las mañanitas del rey David</li>
        <li>Mi niña bonita</li>
        <li>Nochecitas mexicanas</li>
        <li>Qué bonito despertar</li>
        <li>Quince años (Jhonny Rivera)</li>
        <li>Quince años (Llanera, Reinaldo Armas)</li>
        <li>Quince primaveras</li>
        <li>Ojalá no crecieras</li>
        <li>Sabes una cosa</li>
        <li>Y muchas más...</li>
      </ul>
    </div>
    <div class="imagen">
      <img src="./../../../assets/img/repertorio/15anios.jpg" alt="mariachi 15 años">
    </div>
  </div>

  <div class="contenedor-repertorio">
    <div class="texto">
      <h2>Madre</h2>
      <ul>
        <li>A esa mujer</li>
        <li>A la sombra de mi madre</li>
        <li>Aunque no sea mayo</li>
        <li>Clavelitos</li>
        <li>Es mi madre (Jhonny Rivera)</li>
        <li>Mamá</li>
        <li>Mujer virtuosa</li>
        <li>Paso a la reina</li>
        <li>Regalo de un hijo</li>
        <li>Versos a mi madre</li>
        <li>Y muchas más...</li>
      </ul>
    </div>
    <div class="imagen">
      <img src="./../../../assets/img/repertorio/mama.jpg" alt="mariachi mamá">
    </div>
  </div>

  <div class="contenedor-repertorio">
    <div class="texto">
      <h2>Padre</h2>
      <ul>
        <li>Mi padre es el mejor</li>
        <li>Mi querido viejo</li>
        <li>Mi vejéz</li>
        <li>Cuando yo quería ser grande</li>
        <li>Mi querido cascarrabias</li>
        <li>El rey</li>
        <li>El rey del hogar</li>
        <li>Claveles a mi padre</li>
        <li>Y muchas más...</li>
      </ul>
    </div>
    <div class="imagen">
      <img src="./../../../assets/img/repertorio/papa.jpg" alt="mariachi papá">
    </div>
  </div>

  <div class="contenedor-repertorio">
    <div class="texto">
      <h2>Románticas</h2>
      <ul>
        <li>Un rinconcito en el cielo</li>
        <li>Triunfamos</li>
        <li>Te amaré toda la vida</li>
        <li>En tu pelo</li>
        <li>Me gustas mucho</li>
        <li>Me nace del corazón</li>
        <li>Qué bonito amor</li>
        <li>Si nos dejan</li>
        <li>Hechizo</li>
        <li>Me nace del corazón</li>
        <li>Sabes una cosa</li>
        <li>Esclavo y amo</li>
        <li>La venia bendita</li>
        <li>Para siempre</li>
        <li>La mano de Dios</li>
        <li>Nuestro juramento</li>
        <li>Como han pasado los años</li>
        <li>Obsesión</li>
        <li>Gema</li>
        <li>Motivos</li>
        <li>Y muchas más...</li>
      </ul>
    </div>
    <div class="imagen">
      <img src="./../../../assets/img/repertorio/amor.jpg" alt="mariachi románticas">
    </div>
  </div>
</div>