<div class="cuerpo-repertorio">
  <div class="contenedor-repertorio">
    <div class="texto">
      <h2>15 años</h2>
      <ul>
        <li>Happy Birthday</li>
        <li>Mi niña bonita</li>
        <li>15 primaveras</li>
        <li>Ha llegado un ángel</li>
        <li>Quinceañera</li>
        <li>De niña a mujer</li>
        <li>Ojalá no crecieras</li>
        <li>El camino de la vida</li>
        <li>Hermoso cariño</li>
        <li>Sabes una cosa</li>
        <li>En tu día</li>
        <li>Las mañanitas</li>
        <li>Malagueña</li>
        <li>Y muchas más...</li>
      </ul>
    </div>
    <div class="imagen">
      <img src="./../../../assets/img/repertorio/15anios.jpg" alt="mariachi 15 años">
    </div>
  </div>

  <div class="contenedor-repertorio">
    <div class="texto">
      <h2>Madre</h2>
      <ul>
        <li>Happy Birthday</li>
        <li>Regalo de un hijo</li>
        <li>A esa mujer</li>
        <li>Clavelitos</li>
        <li>Aunque no sea mayo</li>
        <li>Es mi madre</li>
        <li>A la sombra de mi madre</li>
        <li>Canto a la madre</li>
        <li>paso a la reina</li>
        <li>Corazón de Dios</li>
        <li>Por el amor a mi madre</li>
        <li>Madrecita ideal</li>
        <li>Mamá</li>
        <li>En tu día</li>
        <li>Te recuerdo dulcemente</li>
        <li>Y muchas más...</li>
      </ul>
    </div>
    <div class="imagen">
      <img src="./../../../assets/img/repertorio/mama.jpg" alt="mariachi mamá">
    </div>
  </div>
</div>