<div class="cuerpo">
  <div class="contenedor-servicios">
    <div class="texto">
      <h1>Mariachi de la más alta calidad</h1><br>
      <ul>
        <li>Todos los integrantes cantan</li>
        <li>Mariachi de 6 músicos</li>
        <li>Show de zapateo</li>
        <li>Voces femenina y masculina</li>
        <li>Incluye violín</li>
        <li>Sonido amplificado de alta calidad</li>
        <li>Video de recuerdo incluido en tu serenata</li>
        <li>Amplio repertorio</li>
        <li>Ramo de flores y obsequios</li>
      </ul>
    </div>
    <div class="imagen">
        <img src="./../../../assets/img/mariachi/IMG-20190209-WA0002.jpg" alt="mariachi">
    </div>
  </div>
</div>