<div class="contenedor">
  <div class="titulo">
    <img id="imagen" src="./../../../assets/img/hero.png" alt="Mariachi Sol de México">
    <h1 @intro id="titulo">Mariachi Sol de México</h1>
  </div>
</div>

<div class="contacto">
  <p>Llámanos ya</p>
  <p class="telefono">
    <a class="mensajear" href="whatsapp://send?phone=+573142251705"><i class="fab fa-whatsapp"></i></a>
    <a href="tel://3142251705">314 225 1705</a>
  </p>
</div>

<div class="videos">
  <div class="contenedor-video">
    <video src="./../../../assets/videos/MariachiLoco.mp4" controls></video>
  </div>
</div>

<div class="texto">
  <p>Show con zapateo, ramo de flores, video de la serenata y obsequios<br>Atención dentro y fuera de la ciudad</p>
</div>