<div class="navbar">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
  <a routerLink="videos" routerLinkActive="active">Videos</a>
  <a routerLink="fotos" routerLinkActive="active">Fotos</a>
  <a routerLink="servicios" routerLinkActive="active">Servicios</a>
  <a routerLink="repertorio" routerLinkActive="active">Repertorio</a>
</div>

<div class="float-button" id="float-button" (click)="expandir()">
</div>
<nav class="circular-menu" id="circular-menu">
  <ul>
    <li><a routerLink="videos" (click)="expandir()"><i class="fas fa-video"><br><span>Videos</span></i></a></li>
    <li><a routerLink="fotos" (click)="expandir()"><i class="fas fa-image"><br><span>Fotos</span></i></a></li>
    <li><a routerLink="servicios" (click)="expandir()"><i class="fas fa-guitar"><br><span>Servicios</span></i></a></li>
    <li><a routerLink="repertorio" (click)="expandir()"><i class="fas fa-music"><br><span>Repertorio</span></i></a></li>
  </ul>
</nav>

<div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="go-home">
  <a routerLink="/"><i class="fas fa-home"></i></a>
</div>